<div class="nav-block"></div>
<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>About filtrs.co<br/></h1>
				<h3>We want to make HVAC servicing <br/>a no brainer, literally.</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-6">
				<%= image_tag('pic1.jpg', width: '140', class: "img-circle") %>
				<h4>Chris Mikelson</h4>
				<p>Chris, Co-Founder of Filtrs.co and Founder of Epicsteme, Inc., is an industrial designer from the midwest with a passion for connected hardware and software design. The Iowa State alum heads up all things product by spreading the love between apps, products and service design.
				<p>
					<a href="mailto:chrismikelson@gmail.com?subject=Hey Chris!&body=What's going on..." id="cEmail-t" data-toggle="tooltip" data-placement="top" title="Email">
						<i class="fa fa-envelope"></i></a> 
					<a href="#" id="cPhone-t" data-toggle="tooltip" data-placement="top" title="+1 (515) 710-3171">
						<i class="fa fa-phone"></i></a> 
					<a href="http://chrismikelson.com" id="cWebsite-t" data-toggle="tooltip" data-placement="top" title="Website" target="_blank">
						<i class="fa fa-globe"></i></a>
				</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-6">
				<%= image_tag('pic2.jpg', width: '140', class: "img-circle") %>
				<h4>Matt Cooper</h4>
				<p>Matt is the Co-Founder of Filtrs.co and the owner of <a href="http://amermech.com/" target="_blank">American Mechanical</a>, a mechanical construction company which has serviced everything from residential units to commercial systems for companies like Target and Best Buy. With over 20 years of experience, Matt is our HVAC industry expert.</p>
				<p>
					<a href="mailto:mcooper@amermech.com?subject=Hey Matt!&body=What's going on..." id="mEmail-t" data-toggle="tooltip" data-placement="top" title="Email">
						<i class="fa fa-envelope"></i></a> 
					<a href="#" id="mPhone-t" data-toggle="tooltip" data-placement="top" title="+1 (515) 202-7152"><i class="fa fa-phone"></i> </a>
					
				</p>
			</div><!--/col-lg-4 -->

			<!--<div class="col-lg-4">
				<img class="img-circle" src="assets/img/pic3.jpg" width="140" alt="">
				<h4>Richard Finning</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div>--><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->