<div class="nav-block"></div>
<div class="container">
	<div class="row mt centered">
		<div class="col-lg-6 col-lg-offset-3">
			<h1>Press<br/></h1>
			<h3>filtrs.co in the headlines</h3>
		</div>
	</div><!-- /row -->
</div>