<div class="block block-hundred"></div>
<div class="container">
	<div class="row mt centered">
		<div class="col-lg-6 col-lg-offset-3">
			<h1>Pricing<br/></h1>
			<h3>Simple, yet effective.</h3>
		</div>
	</div><!-- /row -->
</div>