<div class="nav-block"></div>
<div class="container">
	<div class="row mt centered">
		<div class="col-lg-6 col-lg-offset-3">
			<h1>Privacy Policy<br/></h1>
			<h3>We hate spam, scams and big brothers, <br/>just as much as you do.</h3>
		</div>
	</div><!-- /row -->
</div>