<div class="nav-block"></div>
<div class="container">
	<div class="row mt centered">
		<div class="col-lg-6 col-lg-offset-3">
			<h1>Terms of Service<br/></h1>
			<h3>Yes, there are always rules to this sort of thing.</h3>
		</div>
	</div><!-- /row -->
</div>