// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-nav {
    li:hover i {
        color:#444;
    }
}
.block {
	display:block;
	height:100px;
}
.block.block-ten  {height:10px;}
.block.block-twenty {height: 20px;}
.block.block-thirty {height: 30px;}
.block.block-fourty {height: 40px;}
.block.block-fifty {height: 50px;}
.block.block-sixty {height: 60px;}
.block.block-seventy {height: 70px;}
.block.block-eighty {height: 80px;}
.block.block-ninety {height: 90px;}
.block.block-hundred {height: 100px;}

.footer-cta {
	margin: 40px 0px;
	padding: 20px 0px 40px 0px;
	background: #3498db; /* Old browsers */
    
	h1 {
		color:#fff;
	}
	h3 {
		color:#e3e3e3;
	}
}

#filtrs-footer {

	.site-links a{
	padding:0px 15px;
	}

}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 .panel-title a {
    color:#fff;
    padding:20px 0px;
 }
 .portal {
    margin:80px 0px 0px 0px;
 }

 .tour-cta {
    width:100%;
    height:320px;
    display: block;
    background: #3498db;

    

  &:hover {
    background: #4cae4c;
        -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;




    .tour-cta-block {
      h1 {

        -webkit-animation: take_the_tour 2s infinite; /* Safari and Chrome */
    -webkit-animation-direction: right; /* Safari and Chrome */
    animation: take_the_tour 2s infinite;
    animation-direction: right;
      }
    }
  }

  .tour-cta-block {
    h1 {
        font-size:60px;
    }
  }

 }

 .testimonials {

    .testimonial {
      max-width: 640px;
    margin: 0px auto;
    display: block;

    h3 {
      line-height: 1.5em;
    }

    img {
      margin:0 auto;
    }

    }


 }


/* Safari and Chrome */
@-webkit-keyframes take_the_tour {
    0%   { padding-left:0px;}
    50%  { padding-left:100px;}
    100% { padding-left:0px;}
}

@keyframes take_the_tour {
    0%   { left:0px;}
    50%  { left:100px;}
    100% { left:0px;}
}

