// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-nav {
    li:hover i {
        color:#444;
    }
}
.block {
	display:block;
	height:100px;
}
.block.block-ten  {height:10px;}
.block.block-twenty {height: 20px;}
.block.block-thirty {height: 30px;}
.block.block-fourty {height: 40px;}
.block.block-fifty {height: 50px;}
.block.block-sixty {height: 60px;}
.block.block-seventy {height: 70px;}
.block.block-eighty {height: 80px;}
.block.block-ninety {height: 90px;}
.block.block-hundred {height: 100px;}

.footer-cta {
	margin: 40px 0px;
	padding: 20px 0px 40px 0px;
	background: #3498db; /* Old browsers */
    
	h1 {
		color:#fff;
	}
	h3 {
		color:#e3e3e3;
	}
}

#filtrs-footer {

	.site-links a{
	padding:0px 15px;
	}

}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 .panel-title a {
    color:#fff;
    padding:20px 0px;
 }
 .portal {
    margin:80px 0px 0px 0px;
 }


