<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="filtrs.co helps home owners and commercial businesses forget about servicing their heating and cooling unit once and for all.">
  <meta name="author" content="">  <title>filtrs | forget about your air filter.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class="container">
	<div class="row">
		<div class="container">
			<div id="filtrs-footer">
				<p class="text-center" style="font-weight:400;">
					<a href="#">About</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="#">Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="#">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="#">Privacy</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="#">Terms</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="#">Press</a>
				</p>
				<p class="text-center">
					<a href="#">
						<i class="fa fa-twitter text-muted"></i>&nbsp;&nbsp;&nbsp;&nbsp;
					</a>
					<a href="#">
						<i class="fa fa-facebook text-muted"></i>&nbsp;&nbsp;&nbsp;&nbsp;
					</a>
					<a href="#">
						<i class="fa fa-google-plus text-muted"></i>
					</a>
				</p>
				<p class="text-center">Made by Epicsteme in Chicago</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>
